Apr 22 22:54:12 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = bashful, IP = 71.56.66.201, Session disconnected. Session Type: IKE, Duration: 2h:00m:02s, Bytes xmt: 5901365, Bytes rcv: 1391227, Reason: User Requested
Apr 22 22:53:31 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = doc, IP = 65.199.250.51, Session disconnected. Session Type: IPsecOverNatT, Duration: 4h:38m:27s, Bytes xmt: 100226526, Bytes rcv: 4634734, Reason: User Requested
Apr 22 22:50:57 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = sleepy, IP = 74.237.37.51, Session disconnected. Session Type: IPsecOverNatT, Duration: 0h:14m:44s, Bytes xmt: 2228185, Bytes rcv: 825715, Reason: User Requested
Apr 22 22:50:13 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = sneezy, IP = 108.103.32.222, Session disconnected. Session Type: IPsec, Duration: 0h:29m:14s, Bytes xmt: 1274176, Bytes rcv: 816809, Reason: Lost Service
Apr 22 22:48:15 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = dopey, IP = 70.6.2.234, Session disconnected. Session Type: IPsec, Duration: 0h:19m:56s, Bytes xmt: 1377271, Bytes rcv: 640991, Reason: User Requested
Apr 22 22:42:43 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = grumpy, IP = 65.83.197.158, Session disconnected. Session Type: IPsecOverNatT, Duration: 0h:49m:43s, Bytes xmt: 10343285, Bytes rcv: 2381479, Reason: Lost Service
Apr 22 22:36:19 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = happy, IP = 24.99.244.88, Session disconnected. Session Type: IKE, Duration: 2h:19m:04s, Bytes xmt: 9868979, Bytes rcv: 2934331, Reason: User Requested
Apr 22 22:33:35 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = bashful, IP = 108.106.130.118, Session disconnected. Session Type: IPsec, Duration: 0h:21m:40s, Bytes xmt: 3780198, Bytes rcv: 876308, Reason: User Requested
Apr 22 22:31:23 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = doc, IP = 174.51.26.114, Session disconnected. Session Type: IPsecOverNatT, Duration: 3h:03m:22s, Bytes xmt: 24652086, Bytes rcv: 8743937, Reason: User Requested
Apr 22 22:30:56 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = sleepy, IP = 72.145.184.83, Session disconnected. Session Type: SSL, Duration: 9h:24m:14s, Bytes xmt: 11019680, Bytes rcv: 5473328, Reason: User Requested
Apr 22 22:29:23 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = sneezy, IP = 68.52.212.120, Session disconnected. Session Type: IPsecOverNatT, Duration: 0h:06m:14s, Bytes xmt: 575065, Bytes rcv: 206385, Reason: Lost Service
Apr 22 22:28:53 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = dopey, IP = 24.181.34.39, Session disconnected. Session Type: IPsecOverNatT, Duration: 1h:46m:37s, Bytes xmt: 18124673, Bytes rcv: 3767349, Reason: Lost Service
Apr 22 22:26:53 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = grumpy, IP = 174.16.45.20, Session disconnected. Session Type: IPsecOverNatT, Duration: 0h:01m:03s, Bytes xmt: 0, Bytes rcv: 0, Reason: User Requested
Apr 22 22:23:07 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = happy, IP = 65.7.159.120, Session disconnected. Session Type: IPsecOverNatT, Duration: 0h:21m:13s, Bytes xmt: 555405, Bytes rcv: 390719, Reason: User Requested
Apr 22 22:21:15 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = bashful, IP = 24.126.237.6, Session disconnected. Session Type: IPsecOverNatT, Duration: 14h:47m:42s, Bytes xmt: 201275562, Bytes rcv: 18443505, Reason: User Requested
Apr 22 22:18:32 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = doc, IP = 24.159.99.192, Session disconnected. Session Type: IPsecOverNatT, Duration: 0h:58m:09s, Bytes xmt: 21476391, Bytes rcv: 7677313, Reason: User Requested
Apr 22 22:16:23 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = sleepy, IP = 174.149.202.216, Session disconnected. Session Type: IPsec, Duration: 2h:13m:12s, Bytes xmt: 13433728, Bytes rcv: 3374117, Reason: Lost Service
Apr 22 22:12:40 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = sneezy, IP = 24.181.34.32, Session disconnected. Session Type: IKE, Duration: 0h:15m:00s, Bytes xmt: 9092909, Bytes rcv: 626264, Reason: User Requested
Apr 22 22:11:23 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = dopey, IP = 24.98.114.245, Session disconnected. Session Type: IPsecOverNatT, Duration: 5h:07m:36s, Bytes xmt: 11436801, Bytes rcv: 5644625, Reason: Lost Service
Apr 22 22:10:09 acmetech-vpn.myflowershop.com %ASA-4-113019: Group = myflowershop, Username = grumpy, IP = 98.192.8.4, Session disconnected. Session Type: IKE, Duration: 0h:04m:05s, Bytes xmt: 1049938, Bytes rcv: 16739467, Reason: User Requested
