
[all:vars]
ansible_ssh_user={{ os_user_name }}
ansible_ssh_private_key_file={{ ssh_keys_path }}/{{ ssh_key_filename }}

[full:children]
clustermanager
search
indexers
deploymentserver
shdeployer
licensemaster
hf
monitoringconsole

[nonidxcluster:children]
clustermanager
search
deploymentserver
shdeployer
licensemaster
hf
monitoringconsole

[deploymentclients:children]
clustermanager
search
shdeployer
licensemaster
hf
monitoringconsole

[licenseslaves:children]
search
indexers
deploymentserver
hf


[monitoringconsole:children]
licensemaster

### All available groups
[uf]
[hf]
[clustermanager]
[search]
[indexers]
[deploymentserver]
[shdeployer]
[licensemaster]
[full]
[shcd]
[monitoringconsole]

{% for group, hosts in inventory.items() %}
[{{ group }}]
{% for host in hosts %}
{{ host }}
{% endfor %}
{% endfor %}

